<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../scripts/single-element.js"></script>
    <script type="text/javascript">
        function fillData(content) {
            var header = document.getElementById("title");
            header.setAttribute("value", content.title);
            var img = document.getElementById("image");
            img.setAttribute("src", content.image);
            var price = document.getElementById('price');
            price.setAttribute("value", content.price);
        }
        function changeImage() {
            document.getElementById("image")
            .setAttribute("src", document.getElementById("open-image").value);
            console.log(document.getElementById("open-image").value);
        }
    </script>
</head>

<body onload="load(fillData)">
    <form method="PUT" action="/edit">
        <label for="header">Naziv artikla: </label>
        <input id="title" name="title" type="text" style="font-size:150%" />
        <br/>
        <label for="price">Cena artikla: </label>
        <input id="price" name="price" type="number" style="font-size:110%" />
        <br/>
        <img id="image" alt="image" src="#">
        <br>
        <input type="file" name="image" />
        <br/>
        <input type="submit"/>
    </form>
</body>

</html>