<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript">
        function fillData(content) {
            var header = document.getElementById("header");
            header.appendChild(document.createTextNode(content.title));
            var img = document.getElementById("image");
            img.setAttribute("src", content.image);
            var price = document.getElementById('price');
            price.appendChild(document.createTextNode(content.price));
            var brisanje = document.getElementById("brisanje");
            brisanje.setAttribute("href" , "../brisi?id=" + content.id);
            var izmena = document.getElementById("izmena");
            izmena.setAttribute("href" , "../izmeni?id=" + content.id);
        }
        function load() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(xhttp.responseText);
                    content = JSON.parse(xhttp.responseText);
                    console.log(content)
                    fillData(content);
                }
            };
            xhttp.open("GET", "elementData" + window.location.search, true);
            xhttp.send();

        }
    </script>
</head>

<body onload="load()">
    <h1 id="header"></h1>
    <h2 id="price"></h2>
    <img id="image" alt="image" src="."><br>
    <a id = "brisanje" href=".">Obriši ovaj element </a><br>
    <a id = "izmena" href=".">Izmeni ovaj element </a> 
</body>

</html>