<html>

<head>
    <meta charset="utf-8">
    <script>
        function login(e) {
            e.preventDefault();
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200 || this.status == 403) {
                    content = xhttp.responseText;
                    var res = document.getElementById("result")
                    while (res.lastChild)
                        res.removeChild(res.lastChild);
                    console.log(content);
                    res.appendChild(document.createTextNode(content));
                    if (this.status == 403)
                        res.style.setProperty("color", "red");
                    else
                        res.style.removeProperty("color");
                }
            };
            var body = {
                "username": document.getElementById("username").value,
                "password": document.getElementById("password").value
            }
            console.log(body);
            xhttp.open("POST", "/logintest/", true);
            xhttp.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhttp.send(JSON.stringify(body));
        }
    </script>
</head>

<body>
    <form onsubmit="login(event); return false;">
        <label>Username: </label>
        <input type="text" name="username" id="username" />
        <label>Password: </label>
        <input type="password" name="password" id="password" />
        <button type="submit">submit</button>
        <h1 id="result"></h1>
        <br/>
        <a href="../register">Niste član? Registrujte se!</a>
    </form>
</body>

</html>